faker~=37.12.0
pandas~=2.3.3
fastapi~=0.120.3
uvicorn
streamlit~=1.51.0
chromadb
langchain
psycopg[binary]~=3.2.1
langchain-huggingface
sentence-transformers
langchain_google_genai
sqlglot
sqlalchemy
python-dotenv~=1.2.1
langgraph~=1.0.2
langchain-chroma
tqdm
pydantic
requests~=2.32.5
aiohttp
langchain-community
langchain-core~=1.0.2

sseclient~=0.0.27
langchain-google-genai~=3.0.0